<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- FIM GOOGLE FONTES -->
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- FIM BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/interface_clientes.css')}}">

    <script src="menu.js" defer></script>
   
    <title>Agência BRN</title>
</head>
<body>
    
   

        <section class="sobre">
            <div class="interface">
                <div class="flex">
              

                    <div class="txt-sobre">
                        <h2><span>Parabéns!  </span>Agora você tem acesso a lista </h2>
                        <h3>Olá, eu sou o <span> FELIPE NAHAL </span> e os seus fornecedores estão divididos por categorias, basta clicar em cima do 
contato e já vai direto para o WhatsApp deles.</h3>
                        <p></p>
                        <div class="btn-social">
                            
                        </div><!--btn-social-->
                    </div><!--txt-sobre-->
                </div><!--flex-->
            </div><!--interface-->
        </section><!--sobre-->
        <section class="sobre">  
    <div class="interface">
        <h2 class="titulo">RELÓGIOS PREMIUM AAA+  <span></span></h2>
            <div class="l-wrap">
               <div class="line"></div>
              <div class="three-col-grid">
                <div class="links">
                <a href="https://wa.me/5511947392278" class="grid-item">Olivia Premium AAA+</a> 
                <a href="https://wa.me/5511930304769" class="grid-item">Tony Premium AAA+</a>
                <a href="https://wa.me/5511911213060" class="grid-item">Melissa AAA+</a>
                <a href="https://wa.me/558596216393" class="grid-item">Vanessa AAA+</a>
              </div>

            </div>
              </div>
            </div>
          
          <div class="interface">
          <div class="l-grade"> 
            <h2 class="titulo">RELÓGIOS  1° / 2° LINHA  <span></span></h2>
            <div class="m-wrap">
              <div class="line"></div>
              <div class="three-col-grid">
                <div class="links">
                <a href="https://wa.me/558581346227" class="grid-item">Vinicius relógios  </a>
                <a href="https://wa.me/558586201894"class="grid-item">Elayne relógios</a>
                <a href="https://wa.me/5527996023704"  class="grid-item">LL Relógios</a>
                <a href="https://wa.me/5511972151888" class="grid-item">Sofia Relógios</a>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="interface">
          <div class="l-grade">
          <h2 class="titulo">RELÓGIOS ORIGINAIS  <span></span></h2>
              <div class="l-wrap">
                 <div class="line"></div>
                <div class="three-col-grid">
                  <div class="links">
                  <a href="https://wa.me/5511977386759" class="grid-item">Le Breve São Paulo</a> 
                  <a href="https://wa.me/558594039339" class="grid-item">Gabriel Technos</a>
                  <a href="https://wa.me/5511939500170 " class="grid-item">Technos SP</a>
                
                </div>
              </div>
                </div>
              </div>
            </div>


            
            <div class="interface">
            <div class="l-grade"> 
              <h2 class="titulo">RELÓGIOS SMART WATCH DIGITAIS   <span></span></h2>
              <div class="line"></div>
              <div class="t-wrap">
                <div class="three-col-grid">
                  <div class="links">
                  <a href="https://wa.me/558581346227" class="grid-item">Vinicius relógios  </a>
                  
                </div>
              </div>
              </div>
            </div>
          </div>

    

          <div class="interface">
            <div class="grade">
            <h2 class="titulo">CORDÕES FOLHEADOS   <span></span></h2>
                <div class="l-wrap">
                   <div class="line"></div>
                  <div class="three-col-grid">
                    <div class="links">
                    <a href="https://wa.me/558596350867" class="grid-item">Altero</a> 
                    <a href="https://wa.me/5521974730836" class="grid-item">Lyion Atacado</a>
                    <a href="https://wa.me/558596565948" class="grid-item">Sol Bijoux</a>
                    <a href="https://wa.me/5511981925182" class="grid-item">Mil Brutos</a>
                  </div>
    
                </div>
              </div>
                  </div>
                </div>
              
              <div class="interface">
              <div class="l-grade"> 
                <h2 class="titulo">CORDÕES DE MOEDA ANTIGA <span></span></h2>
                <div class="m-wrap">
                  <div class="line"></div>
                  <div class="three-col-grid">
                    <div class="links">
                    <a href="https://wa.me/557591132940" class="grid-item">W.A Joias de moeda  </a>
                    <a href="https://wa.me/557597078035"class="grid-item">Elegance Moeda Antiga</a>
                    <a href="https://wa.me/5527995085228"  class="grid-item">Goat Moeda</a>
                    <a href="https://wa.me/557592124069" class="grid-item">Diamante Lapidado</a>
                    <a href="https://wa.me/558994325881 " class="grid-item">Pancada Joias </a>
                  </div>
                </div>
                </div>
              </div>
            </div>

            <div class="interface">
              <div class="l-grade">
              <h2 class="titulo">CORDÕES DE PRATA 925    <span></span></h2>
                  <div class="l-wrap">
                     <div class="line"></div>
                    <div class="three-col-grid">
                      <div class="links">
                      <a href="https://wa.me/558186327101" class="grid-item">Soares Prata</a> 
                      <a href="https://wa.me/5511987580024" class="grid-item">Espaço 77</a>
                      <a href="https://wa.me/5511949701995" class="grid-item">Justino Ribas</a>
                      <a href="https://wa.me/5511973990029" class="grid-item">Spina Joias</a>
                      <a href="https://wa.me/553492947340 " class="grid-item">Estuda Prata 925 </a>
                    </div>
      
                  </div>
                </div>
                    </div>
                  </div>
                
                <div class="interface">
                <div class="l-grade"> 
                  <h2 class="titulo">TENIS CALÇADOS  <span></span></h2>
                  <div class="m-wrap">
                    <div class="line"></div>
                    <div class="three-col-grid">
                      <div class="links">
                      <a href="https://wa.me/5511976877215" class="grid-item">Elite Calçados </a>
                      <a href="https://wa.me/5511966128954"class="grid-item">Best Shoes Atacado</a>
                      <a href="https://wa.me/5511982118634"  class="grid-item">Nayne Calçados</a>
                      <a href="https://wa.me/5511950826641" class="grid-item">Alice Premium</a>
                      <a href="https://wa.me/553799874418  " class="grid-item">Elizangela Fábrica </a>
                      <a href="https://wa.me/553791185728 " class="grid-item">Wladyelen Tenis </a>
                    </div>
                  </div>
                  </div>
                </div>
              </div>

         

      <div class="interface">
        <div class="l-grade">
        <h2 class="titulo">CAMISA DE TIME    <span></span></h2>
            <div class="l-wrap">
               <div class="line"></div>
              <div class="three-col-grid">
                <div class="links">
                <a href="https://wa.me/5511959567369" class="grid-item">Outfit Tallandesas </a> 
                <a href="https://wa.me/5511986787413" class="grid-item">Lucas Sport</a>
                <a href="https://wa.me/5511972929595" class="grid-item">Jurema Sports </a>
                
              </div>

            </div>
          </div>
              </div>
            </div>
          
          <div class="interface">
          <div class="l-grade"> 
            <h2 class="titulo">ROUPAS VESTUÁRIOS   <span></span></h2>
            <div class="m-wrap">
              <div class="line"></div>
              <div class="three-col-grid">
                <div class="links">
                <a href="https://wa.me/556284729024" class="grid-item">Daniel Distribuidora </a>
                <a href="https://wa.me/5511960717664"class="grid-item">JD Lucas/
                  Kidsinfantil</a>
                <a href="https://wa.me/557398056220"  class="grid-item">Panos Brasil Fábrica </a>
                <a href="https://wa.me/558589598626" class="grid-item">Douglas JV</a>
                <a href="https://wa.me/558582270153 " class="grid-item">American Griffes  </a>
                <a href="https://wa.me/558598395880 " class="grid-item"> Grife Fortal </a>
                <a href="https://wa.me/5511959045512  " class="grid-item">Moleton SP  </a>
                <a href="https://wa.me/558599393681 " class="grid-item"> Dori Fabrica de Short </a>
                
              </div>
            </div>
            </div>
          </div>
        </div>

        <div class="interface">
          <div class="l-grade">
          <h2 class="titulo">PERFUMES   <span></span></h2>
              <div class="l-wrap">
                 <div class="line"></div>
                <div class="three-col-grid">
                  <div class="links">
                  <a href="https://wa.me/558598395417" class="grid-item">Top Fortal Perfumes </a> 
                  <a href="https://wa.me/5511916587962" class="grid-item">Ungle Perfumes</a>
                  <a href="https://wa.me/5511952738223" class="grid-item">Perfume Brand  </a>
                  <a href="https://wa.me/5511982552350" class="grid-item">Mari Cosmético 1 </a> 
                  <a href="https://wa.me/5511987108314" class="grid-item">Mari Cosmético 2</a>
                  <a href="https://wa.me/5511949855819" class="grid-item">Aura Perfumaria </a>
                </div>
  
              </div>
            </div>
          </div>
                </div>
              
            
            <div class="interface">
            <div class="l-grade"> 
              <h2 class="titulo">PODS E VAPE    <span></span></h2>
              <div class="m-wrap">
                <div class="line"></div>
                <div class="three-col-grid">
                  <div class="links">
                  <a href="https://wa.me/5511967070733" class="grid-item">Brasil Pods   </a>
                  <a href="https://wa.me/5511951179124"class="grid-item"> Tabacaria Puff</a>
                  <a href="https://wa.me/5511981490005 "  class="grid-item">Manush Tabacaria </a>
                  
                </div>
              </div>
              </div>
            </div>
          </div>

     

  <div class="interface">
    <div class="grade"> 
      <h2 class="titulo">OCULOS   <span></span></h2>
      <div class="m-wrap">
        <div class="line"></div>
        <div class="three-col-grid">
          <div class="links">
          <a href="https://wa.me/5511948293202" class="grid-item">Alex Oculos   </a>
          
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="interface">
    <div class="l-grade"> 
      <h2 class="titulo">FORNECEDOR DE IPHONE e XIAOMI     <span></span></h2>
      <div class="m-wrap">
        <div class="line"></div>
        <div class="three-col-grid">
          <div class="links">
          <a href="https://wa.me/5511970678419 " class="grid-item">Big Imports SP   </a>
          <a href="https://wa.me/5511976524305"class="grid-item"> Space Cell Brasil</a>
          <a href="https://wa.me/558788562613 "  class="grid-item">Bagagi Imports  </a>
          <a href="https://wa.me/5511977077016 "  class="grid-item">Kassem Iphones  </a>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="interface">
    <div class="l-grade"> 
      <h2 class="titulo">PARAGUAI   <span></span></h2>
      <h2 class="titulo"> <span>FORNECEDORES NO PARAGUAI</span> </h2>
      <div class="m-wrap">
        <div class="line"></div>
        <div class="three-col-grid">
          <div class="links">
          <a href="https://wa.me/553491869549 " class="grid-item">Freteiro Mateus   </a>
          <a href="https://wa.me/554599864454"class="grid-item">  Freteiro Leo</a>
        
        </div>
      </div>
      </div>
    </div>
  </div>




        </section>
       
        <section class="sobre">
          <div class="interface">
            <div class="grade">
              <div class="flex">
                 
             
                 <div class="position">


                  <div class="img-sobre">
                      <img src="{{ url_for('static', filename='img/img_cliente.jpg') }}" alt="">
                  </div>
                  
                  
                  <div class="txt-sobre">
                   
                    
                      <div class="line-u"></div>
                      <p>Felipe porque a lista tem poucos contatos? Essa lista não é focada em quantidade e sim em qualidade. 
                        Te entrego os distribuidores de verdade que possuem o menor preço do Brasil, e o principal: são de CONFIANÇA. 
                        Conheço cada um, e tenho o cuidado de selecionar a dedo pra você ter a melhor experiência de compra possível.</p>
                      <p></p>
                    </div>
                      <div class="btn-social">
                          <a href="#"><button><i class="bi bi-instagram"></i></button></a>
                          <a href="#"><button><i class="bi bi-youtube"></i></button></a>
                          <a href="#"><button><i class="bi bi-linkedin"></i></button></a>
                      </div><!--btn-social-->
                  <!--txt-sobre-->
              </div>
            </div><!--flex-->
          </div>
        </div><!--interface-->
      </section><!--sobre-->
    <footer>

        <div class="interface">
          <div class="l-grade">
             
            <div class="line-footer">
              <h2 class="titulo"> <span>ATENÇÂO! </span>

                      ESSE LINK SÓ PODE SER ACESSADO POR VOÇÊ, A COMECIALIZAÇÃO DESSA LISTA, OU O COMPARTILHAMENTO DESSE LINK GERA O SEU BANIMENTO. </h2>
                <div class="flex">
                    <div class="logo-footer">
                        
                    </div><!--logo-footer-->
                   
                </div>
            </div><!--line-footer-->
</div>
            <div class="line-footer borda">
                <p><i class="bi bi-envelope-fill"></i> <a href="">Feliperibeiro23@outlook.com.br</a></p>
            </div><!--line-footer-->
        </div><!--interface-->
    </footer>

</body>
</html>